<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="\Content\css\styles.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
</head>

<body>

    <div class="container">
            <div class="row header">
                <a href="/" role="button" class ="header"><h1>Concert Manager</h1></a>
                <hr />
            </div>


        <div class="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>
