<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Library</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="/Content/js/scripts.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel='stylesheet' href="\Content\css\styles.css">

</head>
<body>

    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">The Big Bad Wolf Library</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html"></a>Checkout</li>
                    <li><a href="badges.html">Books</a></li>
                    <li><a href="collapsible.html">Profile</a></li>
                </ul>
            </div>
        </nav>

        <div class="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>
