@{
    Layout="Shared/_layout.cshtml";
}

<h2>Add new band</h2>
<hr />
<form action="/band/new" method="post">
  <label for="band-name">Band name:</label>
  <input id="band-name" name="band-name" type="text">
  <button type='submit' class="btn btn-m" class="form-buttons">Add</button>
</form>
<h4><a href="/bands">Return to bands</a></h4>
