
<h1>To Do List</h1>
<h4><a href="/venues">View venues</a></h4>
<h4><a href="/bands">View bands</a></h4>

<h4><a href="/venues/new">Add a new venue</a></h4>
<h4><a href="/bands/new">Add a new band</a></h4>
