@{
    Layout="Shared/_layout.cshtml";
}
<div class="container">
    <div class="row buttons">
            <h2 class ="statement"> Americans premiere concert management app</h2>
            <a class=".col-xs-5 btn btn-default btn-lg" href="/venues" role="button" id="band-link"><h2>Venues</h2></a>
            <a class=".col-xs-5 btn btn-default btn-lg" href="/bands" role="button" id="band-link"><h2>Bands</h2></a>
    </div>


    </div>
</div>
