@{
    Layout="Shared/_layout.cshtml";
}

<h2>Add new venue</h2>
<hr />
<form action="/venue/new" method="post">
  <label for="venue-name">Venue name:</label>
  <input id="venue-name" name="venue-name" type="text">
  <<button type='submit' class="btn btn-default btn-m" class="form-buttons">Add</button>
</form>
<hr />
<h4><a href="/venues">Return to Venues</a></h4>
