/*for all pages*/
.container {
    height: 600px;

}


a:link {
    color: black;
     text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.header {
    text-align: center;
    margin-top: 10px;
}

/*for index*/
.buttons {
    text-align: center;
    margin-top: 100px;
}

.statement {
    margin-bottom: 30px;
}

#venue-link {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 100px;

}

#band-link {
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 50px;
}

/*for venues*/

.venues {
    margin-left: 30px;
}

.add-band {
    text-align: center;
}

.form-buttons {
    margin-left: 10px;
}

#band-id {
    padding: 10px;
}

#venue-id {
    padding: 10px;
}
