/*for all pages*/
.container {
    height: 600px;
}

body {
    background-image: url("../img/rothko.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
}

form {
    color:black;
}

a:link {
    color: white;
     text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.header a {
    text-align: center;
    margin-top: 10px;
}

/*for index*/
.buttons {
    text-align: center;
    margin-top: 100px;
}

.statement {
    margin-bottom: 30px;
}

#venue-link {
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-left: 100px;
    font: black;

}

#band-link {
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-right: 50px;
}

a:link #venue-link {
    color: black;
     text-decoration: none;
}

button {
    background-color: transparent;
}

/*for venues*/

.venues {
    margin-left: 30px;
}

.add-band {
    text-align: center;
}

.form-buttons {
    margin-left: 10px;
}

#band-id {
    padding: 10px;
}

#venue-id {
    padding: 10px;
}

/*for bands*/
.bands {
    margin-left: 30px;
}

.add-venue {
    text-align: center;
}
